* {
    margin: 0;
    padding: 0;
}
/* centrer le main */
main {
    background-color: #D9D9D9;
    padding: 50px;
    margin: 5% 10% 5% 10%;
    height: 100%;

/* configurer titre */
}    

h1 {
    background-color: #836AE7;
    border-radius: 20px;
    width: 460px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
}
/* mettre les checkbox en colone */
.containerCheckbox {
    display: flex;
    flex-direction: column;
    margin: 5%;

}
/* checkbox */
label {
    font-size: 25px;
    border-bottom: solid 1px;
}
/* taille du carré a cocher */
input {
    width: 30px;
    height: 30px;
    margin-right: 2%;
}
/* espace entre les checkbox */
.containerCheckbox1 {
    margin: 20px 0 20px 0;
}

.containerCheckbox2 {
    margin: 20px 0 20px 0;
}

.containerCheckbox3 {
    margin: 20px 0 20px 0;
}

.containerCheckbox4 {
    margin: 20px 0 20px 0;
}

.containerCheckbox5 {
    margin: 20px 0 20px 0;
}

.containerCheckbox6 {
    margin: 20px 0 20px 0;
}

.containerCheckbox7 {
    margin: 20px 0 20px 0;
}

.containerCheckbox8 {
    margin: 20px 0 20px 0;
}

.containerCheckbox9 {
    margin: 20px 0 20px 0;
}

.containerCheckbox10 {
    margin: 20px 0 20px 0;
}
/* Bouton */
.containerBouton{
    text-align: center;
    
}
button{
    background-color: #3733DC;
    color: #ffffff;
    font-size: 20px;
    padding: 15px;
    border-radius: 20px;
    width: 170px;
    margin: 20px 50px;
    
}
/* responsive */
@media screen and (max-width:360px)
 {
    main{
        width: 360px;
        padding: 5px;
        margin: 0;
    }
    h1{
        width: 200px;
        font-size: 25px;

    }
    .containerBouton{
        display: flex;
        flex-direction: column;
    }
    button{
        margin: 0 auto;
        padding: 0 auto;
        width: 100px;
        font-size: 14px;
        margin-top: 15px;
        
    }
    input {
        width: 15px;
        height: 15px;
        margin-right: 2%;
    }
    label{
        font-size: 18px;
    }
}
